@import "bourbon";
@import "fonts";
@import "base/base";
@import "neat";
@import "reset";
@include reset-and-normalize;

@import "variables";
@import "forms";
@import "modules/nav";
@import "modules/hero";
@import "modules/profiles";
html, body, .container {
  min-height: 100%;
}

html {
  font-size: $fs-root;
}

html, input, select, textarea {
  font-family: $font-proxima-nova;
}

.main {
  @include outer-container;
}

.full {
  @include span-columns(12);
}

.button {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.headline-xlarge {
  font-size: $fs-xlarge;
  line-height: 1.4;
}

.headline-large {
  font-size: $fs-large;
  line-height: 1.4;
}
.headline-medium {
  font-size: $fs-medium;
  line-height: 1.4;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

