<div class="main">
  <div class="text-center">
    <h1 class="headline-xlarge m-medium">Review: <%=@review.user.name%></h1>
  </div>

  <%= form_tag(user_reviews_path(@review.user), method: 'post', class: 'review-form') do |f|%>
    <div class="bm-large">
      <label class="left-field action-label" for="review[action]">For:</label>
      <%= select_tag :action, options_for_select(@review.user.actions.abilities.map{|a| [a.title, a.id]}), class: "field action-field"%>
    </div>

    <div class="bm-large text-center" ng-init="rating = 0">

        <div class="rating headline-xlarge">
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </span>

    <div class="bm-large">
      <label class="action-label" for="review[comments]">How was your experience?</label>
      <br/>
      <textarea class="field" name="review[comments]" rows="20" cols="10"></textarea>
    </div>
      <input type="submit">
  <% end %>
  </form>
</div>
